body{
    background-color: #F2F2F2;
}
.logo{
    
   padding: 15px;
}
.alignleft {
    margin-left: 10px;
    font-weight: bolder;
	float: left;
}
.alignright {
	float: right;
    margin-right: 20px;

    font-family:  Prototype
    ;
}
.bn{
    color:green;
    font-weight: bold;
   padding: 15px;
   margin: 15px;
   
}
#text-link{
 color: #644F9C;
 font-weight: bold;
}

#nav-link-active{
  color: #FF6F00;
  font-weight: bold;
  margin-left: 50px;
}
#btn{
    margin-right: 50px;
    border-radius: 50px;
    background-color:#F2F2F2;
    color: black;
    border: 2px solid tomato;
    box-shadow: 2px 2px rgb(241, 6, 6);
    
    }
#sign{
    background-color: #FF6F00;
    color:whitesmoke;
    border-radius: 20px;
    margin: 10px 10px ;
    text-shadow: #F2F2F2;
    box: sizing 2.5cm;;
}
#color{
    background-color: #F2F2F2;
}
.here{
    color: #644F9C;
    
}
.left{
    margin-left: 50px;
    padding-bottom: 200px;
  
}
.img{
    margin: 70px;
   height: 50px;
  
}
.tc{
    color: #644F9C;
   
    font-family:PT Sans ;
}
.ta{
    text-align: center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 15.33%;
    padding: 5px;
    margin-left: 150px;
    text-align: center;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row-col{
      margin-left: 300px;
  }
  .row-col-btn{
      background-color: #644F9C;
      color: #F2F2F2;
      border-radius: 20px;
      height: 30px;
      width: 150px;
      font-family: PT Sans ;
  }