body {
    background-color: #F2F2F2;
}

.logo {

    padding: 15px;
}

.alignleft {
    margin-left: 10px;
    font-weight: bolder;
    float: left;
}

.alignright {
    float: right;
    margin-right: 20px;

    font-family: Prototype;
}

.bn1 {
    color: green;
    font-weight: bold;
    padding: 15px;
    margin: 15px;

}

#text-link {
    color: #644F9C;
    font-weight: bold;
}

#nav-link-active {
    color: #FF6F00;
    font-weight: bold;
    margin-left: 50px;
}

#btn {
    margin-right: 50px;
    border-radius: 50px;
    background-color: #F2F2F2;
    color: black;
    border: 2px solid tomato;
    box-shadow: 2px 2px rgb(241, 6, 6);

}

#sign {
    background-color: #FF6F00;
    color: whitesmoke;
    border-radius: 20px;
    margin: 10px 10px;
    text-shadow: #F2F2F2;
    padding: 7px;

}

#color {
    background-color: #F2F2F2;
}

.here {
    color: #644F9C;

}

.left {
    margin-left: 50px;
    padding-bottom: 200px;
    height: 200px;
    width: 3000px;

}

.img {
    margin: 10px;
    height: 30px;
    padding: 20px;

}

.tc {
    color: #644F9C;

    font-family: PT Sans;
}

.ta {
    text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 15.33%;
    padding: 5px;
    margin-left: 40px;
    text-align: center;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row-col {
    margin-left: 300px;
}

.row-col-btn {
    background-color: #644F9C;
    color: #F2F2F2;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    font-family: PT Sans;
}

.btn-group {
    font-family: Pt Sans Pro;
    margin-left: 150px;
}

.pop-btn {
    padding: 5px;
    border-radius: 50px;
    width: 250px;
}

#p-btn {
    background-color: #FF6F00;
    color: #F2F2F2;
}

#b-btn {
    background-color: #FF6F00;
    color: #F2F2F2;
}

.add-btn {
    padding: 5px;
    margin-left: 50px;
    border-radius: 50px;
    width: 250px;
    background-color: #E6E6E6;
    box-shadow: none;
}

#n-btn{
    background-color: #FF6F00;
    color: #F2F2F2;
}
.native-btn {
    padding: 5px;
    margin-left: 50px;
    border-radius: 50px;
    width: 250px;
    background-color: #E6E6E6;
}

#n-btn{
    background-color: #FF6F00;
    color: #F2F2F2;
}

.skim-btn {
    padding: 5px;
    margin-left: 50px;
    border-radius: 50px;
    width: 250px;
    background-color: #E6E6E6;
}

.row {
    margin-left: 150px;
}

#col-4 {
    background-color: #644F9C;
    height: 200px;
    width: 400px;
    text-align: center;
    font-family: Prototype;
}

#col-8 {
    background-color: antiquewhite;

}

#pop-under {
    color: #FF6F00;
}

.container{
  
    height: 300px;
    width: 1300px;
    background-color: #644F9C;
    
    
}
.t1{
    color: #F2F2F2;
    text-align: center;
    font-family: PT Sans;
}
.bn{
   color: #F2F2F2;
   
   padding-bottom: 20px;
   padding-top: 70px;
}
.paid{
    color: #F2F2F2;
   
    padding-top: 70px;
}
.p{
    margin-left: 50px;
}

.publisher{
    color: #F2F2F2;
   
    padding-top: 70px;
}
#tit1{
    text-align: center;
    color: #644F9C;
}
#carouselExampleIndicators{
    color: #644F9C;
}
#first{
    height: 150px;
    width: 150px 150px;
   margin-left: 350px;
}

#first1{
    
    height: 150px;
    width: 150px 

   
   
}
#image1{
    height: 150px; 
    width: 150px ;
    margin-right: 150px;
}

#more{
    height: 15px;
}
.more{
    color: #644F9C;
}

#con{
    
}
.container1{
    width: 1350px;
    margin-left: 160px;
    background-color: #E6E6E6;
    
}

#less{
    margin-left: 400px;
    height: 50px;
    width: 50px;
}

#greater{
    margin-right: 90px;
    height: 50px;
    width: 50px;
}


#less1{
    margin-left: 600px;
    height: 50px;
    width: 50px;
    
}
#footer{
    background-color: #E6E6E6;
}

#icon{
    height: 90px;
    width: 90px; 
}

.we{
    color: #644F9C;
}

#text-dark{
    font-weight: bolder;
}
.link{
    color: #644F9C;
}

.docu{
    color: #644F9C;
}

.support{
    color: #644F9C;
}
#ad{
    font-family: Prototype;
    font-weight: bold;
}
#d{
    font-family: Prototype ;
    font-weight: bold;
}

#faq{
    font-weight: bold;
}




